server {
    listen ${NGINX_PORT};

    # Serve React app
    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri /index.html;
    }

    # Proxy backend service
    location /enroll {
        proxy_pass http://${API_BACKEND_URL}:${API_BACKEND_PORT};
    }
}
